<%= link_to "Go back", tickets_path %>
<h1>Ticket: <%= @ticket.token %> </h1>

<% if !@ticket.vazecka? %>
    <p>Updated at: <%= @ticket.updated_at %></p>
<% end %>
<p><%= @entered %> / <%= @total %> guests entered</p>

<%= raw(@svg.html_safe) %>

