
<p class=""><%= link_to "<- 햏햟향햟햢", tickets_path, class:"ms-text-light" %></p>
<h2>햑햦햨햣혝: <%= @ticket.token %> </h2>

<% if !@ticket.vazecka? %>
    <p class="ms-text-green">햒햩햣향햣햩: <%= @ticket.updated_at %></p>
<% else %>
    <p class="ms-text-green">뉋썛햦햢햣햫 혝햦햨햣혝</p>
<% end %>
<p><%= @entered %> / <%= @total %> 햩혞혭햣 혞햩햣향햣햩햣</p>
<p>游녢游낕 QR 향햟 쒫햣향</p>
<%= raw(@svg.html_safe) %>

