
<% if current_user.present? && current_user.kind == "doorman" %>
    <p class=""><%= link_to "<- 햏햟향햟햢", tickets_path, class:"ms-text-light" %></p>
<% end %>
<h4>햑햦햨햣혝: <%= @ticket.token %> </h4>
<p>햇햪햟햦햩: <%= @ticket.email %></p>

<% if !@ticket.vazecka? %>
    <p class="ms-text-secondary">햒햩햣향햣햩: <%= @ticket.updated_at + 2.hour %></p>
<% else %>
    <p class="ms-text-secondary">游녢游낕 쮏쥃썛웷 햫햟 쒫햣향</p>
<% end %>
<%# html safe png %>
<%= raw @svg %>

