
<p class=""><%= link_to "<- Назад", tickets_path, class:"ms-text-light" %></p>
<h3>Тикет: <%= @ticket.token %> </h3>

<% if !@ticket.vazecka? %>
    <p class="ms-text-green">Улезел: <%= @ticket.updated_at %></p>
<% else %>
    <p class="ms-text-green">Валиден тикет</p>
<% end %>
<p><%= @entered %> / <%= @total %> луѓе улезеле</p>
